@import "fontawesome";
@import "bootstrap";

body {
  background-color: $cambridge-blue;
  color: $black;

  min-height: 100vh;
  overflow: auto;
}

.content-container{
  background-color: $pale-spring-bud;
}



.search-header{

  margin-top: 2rem;
  align-items: center;

  h1{
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: $secondary;
  }

  form{
    margin-top: 5px;
    float: right;
  }

  button{
    border: 1px solid $rifle-green;
    background-color: $primary;
    height: 2rem;
    width: 2rem;

    align-content: center;
    justify-content: center;

  }

  input{
    height: 1rem;
  }
}